# Example environment variables (DO NOT commit real secrets)
# Copy this file to .env and fill real values locally
POSTGRES_USER=itmo_user
POSTGRES_PASSWORD=change_me_here
POSTGRES_DB=itmo_db

# Backend app
DATABASE_USER=${POSTGRES_USER}
DATABASE_PASSWORD=${POSTGRES_PASSWORD}
DATABASE_NAME=${POSTGRES_DB}

# Frontend
VITE_API_URL=http://backend:3000/video
